* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aleo","Poppins", sans-serif;
}


/* NAVBAR */
.navbar {
    width: 100%;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    letter-spacing: 1px;
}

.nav-links a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    font-weight: bold;
}

.btn {
    max-width: 100px;
    padding: 7px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid black;
    background: white;
}

.signup {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.login {
    margin-left: 8px;
}

.login:hover,
.signup:hover {
  background-color: black;
  color: white;
}

.landingPage {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 80px 100px;
    height: 100vh;
    gap: 100px;
}

.landingPage-text {
    width: 60%;
    flex-direction: column;
    text-align: center;
}

.landingPage-text h1 {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
}

.sms {
  white-space: nowrap;
}

.landingPage-text p {
    margin: 20px 0;
    font-size: 19px;
    color: #6f5a5a;
}

.apply-btn {
    padding: 8px 25px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.apply-btn:hover {
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

/* IMAGE */
.landingPage-image img {
    width: 470px;
}

.aboutUs{
    height: 100vh;
    background-color: #1E2326;
    display: grid;
    place-items: center;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "con1 con1 con2"
    "con3 con4 con5";
  gap: 10px; 
}

.con1 { grid-area: con1; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; color: rgb(255, 255, 255); gap: 10px }
.con1 > h5{
    font-size: 20px;
}
.con1 h1{
    font-size: 50px;
}
.con2 { grid-area: con2;}
.con2 img{
    width: 100%;
}
.con3 { grid-area: con3;}
.con3 img{
    width: 100%;
    height: 100%;
}
.con4 { grid-area: con4;}
.con4 img{
    width: 100%;
    height: 100%;
}
.con5 { grid-area: con5; color: rgb(255, 255, 255); display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; font-size: 22px; place-items: center; gap: 20px;}

.container > div {
  padding: 20px;
  border-radius: 8px;
  height: 300px;
}



